<h1 class="title is-1">New Entry</h1>

<%= render partial: 'form' %>
<script>

$(document).ready(function() {
  $("#fat-slider").mousemove(function() {
    $("#fat-output").text($('#fat-slider').val())
  })

  $("#protein-slider").mousemove(function() {
    $("#protein-output").text($('#protein-slider').val())
  })

  $("#carb-slider").mousemove(function() {
    $("#carb-output").text($('#carb-slider').val())
  })

})
</script>