<div><%= image_tag 'balanced-diet.png', class: 'logo' %></div>

<nav class="page-access">
  <%= link_to "Log In", login_path, class: 'login-out' %>
  <%= link_to "Join", new_user_path, class: 'login-out' %>
</nav>
  
Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>