<section class="hero is-large is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        UNA
      </h1>
      <h2 class="subtitle">
        Unnamed Nutrition App
      </h2>
    </div>
  </div>
</section>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile is-parent">
      <article class="tile is-child notification is-light">
        <p><%= link_to "Join", new_user_path, class: 'title login-out' %></p>
        <p><%= link_to "Log In", login_path, class: 'subtitle is-3 login-out' %></p>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-light">
      <div class="content">
        <p class="title">Effortless, beautiful nutrition tracking</p>
        <p class="subtitle">Your next goal is within reach with a little help from UNA</p>
      </div>
    </article>
  </div>
</div>

  