<%= render partial: 'calendar' %>

<div id="anything">

	<% if params[:date].present? %>
		<%= render partial: 'update'  %>
	<% else %>
		<%= render partial: 'entries' %>
	<% end %>

</div>

<script>

	const $calendar = $( "#datepicker" )
	const changeViewButton = $("#calendar-button")

	$calendar.change( function () {
		$( "#date_value" ).val($calendar.val())
	})

	changeViewButton.click( function () {
		$.get("/today/update",
						{ date: $( "#date_value" )
						.val() } )
						.done(function (response) {
							$("#anything").html(response)
							console.log(response)
		})
	})

	$( 'body' ).on( "click", ".delete-item", function ( event ) {
		const entryDate = $( event.target ).next().val()
		console.log( entryDate )
		$.get( "/today/update", { date: entryDate } ).done( function ( response ) {
				$( "#anything" ).html( response )
		})
	})

</script>  

  
  

  