<h2><%= Time.now.strftime("%B %e, %Y") %></h2>
<%= link_to 'Add', add_entry_path %>
  <%= pie_chart ({ Intake: @user.entries.todays_entries.map(&:energy).sum,
                   Remaining: @user.target_intake - @user.entries.todays_entries.map(&:energy).sum }),
                   colors: ["#FFF0EC","#FFD2C6"],
                   height: "500px",
                   library: {fontSize: "30px"}
                  %>
  <%= pie_chart ({ Protein: @user.entries.todays_entries.map(&:protein).sum,
                   Carbohydrate: @user.entries.todays_entries.map(&:carb).sum, 
                   Fat: @user.entries.todays_entries.map(&:fat).sum }),
                   colors: ["#34B5E1", "#60D9A7", "#FD5F7E"],
                   donut: true %>
                  


